<!DOCTYPE html>
<html>
  <%- include('../../partials/head') %>
  <%- include('../../partials/header') %>

<body class="body">
  <div class="ui container"style="margin-top: 100px !important; padding-bottom: 100px;">
    <div class="ui segment" >
        <h1>500 - Internal Server Error</h1>
        <p>There was an internal server error. Please try again later.</p>
    </div>
</div>


</body>

<script> 
    

</script>

<%- include('../../partials/footer') %>

</html>
