/** classes to hide elements on mobile, tables or computer **/

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .hide-on-computer {
    display: none;
  }
}

/** classes to show elements on mobile, tables or computer **/

@media only screen and (max-width: 768px) {
  .show-on-mobile {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .show-on-tablet {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .show-on-computer {
    display: block;
  }
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
  width: 40px;
  height: 40px;
}

.ui .segment {
  background-color: beige;
}

.ui .button {
  background-color: beige;
  color: white;
}

.ui .button:hover {
  background-color: beige;
  color: white;
}

.body {
  background-color: #BD504E;
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}

#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}

#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

.bonustext {
  font-size: 2.2rem;
  font-weight: 600;
}

.bonushead {
  font-size: 1.1rem;
  padding-top: 15px;
}

.filter {
  font-size: 16px;
}

.filteritem {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filteritem .field {
  padding-top: 1px;
  padding-bottom: 1px;
}

.filterhead {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
